/* SECTION ONE */

.section-one {
    background: url('../img/video.jpg') 100% top no-repeat;
    background-size: auto 100%;
    margin: 0;
    height: 400px;
    padding: 26% 0;
}

.smartphone {
    position: absolute;
    width: 26%;
    text-align: center;
    left: 4%;
    top: 20%;
}

.smartphone img {
    width: 100%;
}

.title {
    position: absolute;
    width: 70%;
    color: #ffffff;
    text-align: center;
    padding: 14% 10% 0 10%;
    right: 0;
    top: 0;
}

.title h1 {
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.title p {
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 6%;
}
/* SECTION TWO */

.section-two {
    margin: 10% auto;
}

.section-two ul {
    padding: 0;
    list-style: none;
}

.section-two ul li {
    float: left;
    width: 33.3%;
    padding: 0 2%;
    text-align: center;
}

.section-two ul li img {
    width: 56%;
    margin: 0 auto;
}

.section-two ul li:nth-child(1),
.first {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
}

.section-two ul li:nth-child(2),
.second {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
}

.section-two ul li:nth-child(3),
.third {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-delay: .6s;
}

.section-two ul li h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.section-two ul li p {
    font-weight: 300;
    font-size: 16px;
}
/* SECTION THREE */

.section-three {
    background: #ff7900;
    padding: 5% 0;
}

.screen.small {
    text-align: center;
    margin-top: 5%;
}

.screen.small img {
    width: 80%;
}

.screen img {
    width: 100%;
}

.section-three .google-play {
    width: 24%;
    margin: 4% auto;
    padding: 1% 6%;
    border-radius: 100px;
}
/* Media Queries */

@media (max-width: 990px) {
    .title {
        padding: 14% 5% 0 5%;
    }
    .title h1 {
        font-size: 50px
    }
    .title p {
        font-size: 20px;
        padding: 0 10%;
    }
    .smartphone {
        width: 30%;
        top: 14%;
    }
    .section-two {
        margin: 16% auto;
    }
    .section-three .google-play {
        width: 28%;
    }
}

@media (max-width: 768px) {
    .section-one {
        height: auto;
        padding: 0 0;
        background-size: auto 70%;
    }
    .smartphone {
        width: 60%;
        margin: 0 auto;
        left: auto;
        position: relative;
    }
    .title {
        width: 100%;
        position: relative;
    }
    .section-two {
        background: #f6f6f6;
        width: 100%;
        margin-bottom: 0;
        padding: 0 0 10% 0;
    }
    .section-two ul {
        width: 60%;
        margin: 0 auto;
    }
    .section-two ul li {
        width: 100%;
        margin: 20% 0;
        float: none;
    }
    .section-two ul li h2 {
        font-size: 30px;
    }
    .section-two ul li p {
        font-size: 20px;
    }
    .carousel-control.right,
    .carousel-control.left {
        background-image: none;
    }
    .item img {
        margin: 0 auto;
        width: 60%;
    }
    .carousel-indicators {
        bottom: -6%;
    }
    .carousel-indicators li,
    .carousel-indicators .active {
        margin: 4% 1%;
    }
    .section-three .google-play {
        width: 50%;
        padding: 1.5% 12%;
        margin-top: 16%;
    }
    .line {
        color: #dfdfdf;
        line-height: 0;
    }
    .button {
        position: absolute;
        bottom: 4%;
        right: -10%;
    }
}

@media (max-width: 460px) {
    .title {
        padding: 0;
        margin-top: 20%;
    }
    .smartphone {
        width: 80%;
        margin-top: 10%;
    }
    .title h1 {
        font-size: 30px;
    }
    .section-two ul li h2 {
        font-size: 26px;
    }
    .item img {
        width: 80%;
    }
    .section-three .google-play {
        width: 80%;
        padding: 3% 18%;
    }
}