body {
    background: #f2f2f2
}

.columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
    margin: 10px 6px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    text-align: center;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
}

.pin h1 {
    color: #a9a9a9;
    font-weight: 100;
    margin-bottom: 0;
    font-size: 12px;
}

.pin p.precio {
    font-size: 14px;
}

a p.precio {
    color: #31313a;
}

a:hover {
    opacity: .8;
}

.tabsforproducts {
    float: right;
    padding: 0 20px;
    height: 100%;
    min-height: 100%;
}

.infopeople {
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0 0 4% 0;
    margin-top: 2%;
    width: 31.33333333%;
    margin-right: 2%;
}

.infopeople.sticky {
    top: 0;
}

.infopeople h1,
.infopeople p,
.infopeople .accounts {
    padding: 0 4%;
}

.infopeople h1 {
    font-family: 'roboto condensed';
    font-size: 24px;
}

.infopeople p {
    font-weight: 100;
    font-size: 14px;
}

.infopeople img.profilePicture {
    width: 100%;
    overflow: hidden;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.accounts p {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
    font-weight: 400;
}

.tabsforproducts {
    background: #f7f7f7;
    padding: 0;
}
.tabsforproducts .nav-tabs {background: #ffffff;}
.tabsforproducts .nav-tabs li {
    width: 33.3%;
    text-align: center;
    border: 0;
}
.tabsforproducts .nav-tabs li.active {background: #ffffff;
border-bottom: 4px solid  #4f2d7f;}

.tabsforproducts .nav-tabs li p {
    margin: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {border: 0;}
.tabsforproducts .nav-tabs li p.number {
    font-weight: 600;
    font-size: 24px;
    color: #595a65;
}
.tabsforproducts .nav-tabs li p.namesection {text-transform: uppercase;
	font-size: 12px;
	color: #ababab;}


@media (max-width: 768px) {
    .infopeople, .tabsforproducts {width: 100%;}
}

@media (min-width: 900px) {
    .columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}